In [1]:
import pandas as pd
from Bio import SeqIO
import os

In [111]:
direct = '/home/emulciber/MitoClub/bacteria/Body/1Raw/all_genes_aa' #ввести название директории с файлами аминокислот генов
dirname = os.listdir(direct)

In [112]:
bacteria_test = pd.DataFrame()

In [113]:
species = []
gene = []
aaseq = []
oid = []


for file in dirname:
    try:
        for seq_record in SeqIO.parse((os.path.join(direct, file)), 'fasta'):
            # oid.append(file.split(' ')[0])
            gene.append(file.split('.')[0]) # сюда воткнуть название файла
            aaseq.append(str(seq_record.seq)) # получение последовательности из фасты
            # получение вида из дескрипшна
            desc = seq_record.description
            oid.append(desc.split(' ')[0])
            if str(desc.split('[')[-1]).startswith('Ga') == True:
                species.append(' '.join(desc.split('[')[-1].split(' : ')[-1].split(' ')[0:2]))
            else:
                species.append(' '.join(desc.split('[')[-1].split(' ')[0:2]))
    except:
        pass
    

bacteria_test['gene_oid'] = oid
bacteria_test['Species'] = species
bacteria_test['Gene'] = gene
bacteria_test['Sequence'] = aaseq
bacteria_test

,gene_oid,Species,Gene,Sequence
0,643721860,Desulfobacterium autotrophicum,glyA,MDIGAIKGVDPEVFEIIMQEALRQQEGLELIASENTTSRAVMAAQG...
1,643800333,Laribacter hongkongensis,glyA,MNAWARSPKKVGAYFMVDMAHYAGLVAAGLYPNPVPHADFVTSTTH...
2,650404599,Acinetobacter baumannii,glyA,MFANISISEFDPELAQAIASEDERQEAHIELIASENYCSPAVMEAQ...
3,650954014,Paenibacillus mucilaginosus,glyA,MLKTKLGRNFTMEQLRKQDPKIVEAMNLELGRQRDKIELIASENFV...
4,640860081,Clostridium kluyveri,gmk,MDKIVCLVGESGSGKSTITELLEKEGYNYIQSYTTRKPRFEGEKGH...
...,...,...,...,...
6359,650953977,Paenibacillus mucilaginosus,gyrB,MSVNPGTTYDESQIQVLEGLEAVRKRPGMYIGSTSARGLHHLVWEV...
6360,651074512,Pantoea ananatis,gyrB,MSNSYDSSSIKVLKGLDAVRKRPGMYIGDTDDGTGLHHMVFEVVDN...
6361,651082866,Mycobacterium tuberculosis,gyrB,MAAQKKKAQDEYGAASITILEGLEAVRKRPGMYIGSTGERGLHHLI...
6362,651086562,Mycobacterium tuberculosis,gyrB,MAAQKKKAQDEYGAASITILEGLEAVRKRPGMYIGSTGERGLHHLI...
6363,651206049,Bifidobacterium longum,gyrB,MADETSKEEQLKAAAERINNAELTEGELDESMAPEHYEASDLRVLE...

In [75]:
bacteria_test.to_csv('/home/emulciber/MitoClub/bacteria/Body/2Derived/bacteria_test.csv', sep='\t')

In [114]:
direct2 = '/home/emulciber/MitoClub/bacteria/Body/1Raw/all_genes_data' #ввести название директории с файлами аминокислот генов
dirname2 = os.listdir(direct2)

In [115]:
data_or = pd.DataFrame()

for file in dirname2:
    try:
        data = pd.read_csv((os.path.join(direct2, file)), sep='\t')
        data_or = data_or.append(data[['gene_oid', 'Oxygen Requirement']], ignore_index=True)
    except:
        pass

In [116]:
data_or

       gene_oid Oxygen Requirement
0     640606092             Aerobe
1     638157715  Obligate anaerobe
2     651038654             Aerobe
3     651024820             Aerobe
4     637429615        Facultative
...         ...                ...
6359  651041626                  _
6360  649921381        Facultative
6361  650934820                  _
6362  641591178             Aerobe
6363  650440320        Facultative

[6364 rows x 2 columns]

In [105]:
data_or.dtypes

gene_oid               int64
Oxygen Requirement    object
dtype: object

In [106]:
bacteria_test.dtypes

gene_oid    object
Species     object
Gene        object
Sequence    object
dtype: object

In [117]:
bacteria_test['gene_oid'] = bacteria_test['gene_oid'].astype(int)

In [118]:
bacteria = bacteria_test.merge(data_or, how='inner', on = 'gene_oid')

In [119]:
bacteria

,gene_oid,Species,Gene,Sequence,Oxygen Requirement
0,643721860,Desulfobacterium autotrophicum,glyA,MDIGAIKGVDPEVFEIIMQEALRQQEGLELIASENTTSRAVMAAQG...,Anaerobe
1,643800333,Laribacter hongkongensis,glyA,MNAWARSPKKVGAYFMVDMAHYAGLVAAGLYPNPVPHADFVTSTTH...,Anaerobe
2,650404599,Acinetobacter baumannii,glyA,MFANISISEFDPELAQAIASEDERQEAHIELIASENYCSPAVMEAQ...,Anaerobe
3,650954014,Paenibacillus mucilaginosus,glyA,MLKTKLGRNFTMEQLRKQDPKIVEAMNLELGRQRDKIELIASENFV...,_
4,640860081,Clostridium kluyveri,gmk,MDKIVCLVGESGSGKSTITELLEKEGYNYIQSYTTRKPRFEGEKGH...,Anaerobe
...,...,...,...,...,...
6359,650953977,Paenibacillus mucilaginosus,gyrB,MSVNPGTTYDESQIQVLEGLEAVRKRPGMYIGSTSARGLHHLVWEV...,_
6360,651074512,Pantoea ananatis,gyrB,MSNSYDSSSIKVLKGLDAVRKRPGMYIGDTDDGTGLHHMVFEVVDN...,Facultative
6361,651082866,Mycobacterium tuberculosis,gyrB,MAAQKKKAQDEYGAASITILEGLEAVRKRPGMYIGSTGERGLHHLI...,Aerobe
6362,651086562,Mycobacterium tuberculosis,gyrB,MAAQKKKAQDEYGAASITILEGLEAVRKRPGMYIGSTGERGLHHLI...,Aerobe
6363,651206049,Bifidobacterium longum,gyrB,MADETSKEEQLKAAAERINNAELTEGELDESMAPEHYEASDLRVLE...,_

In [120]:
bacteria.to_csv('/home/emulciber/MitoClub/bacteria/Body/2Derived/all_genes.csv', sep='\t')